// mobile menu


.burger-menu__list {
    display         : none;
    flex-direction  : column;
    position        : absolute;
    align-items     : flex-start;
    width           : 100%;
    overflow-y      : auto;
    padding-bottom: 40px;
    overflow-x      : hidden;
    height          : calc(100vh - 80px);
    top             : 100px;
    left            : 0;
    right           : 0;
    padding-top     : 20px;
    padding-left    : 20px;
    background-color: #fff;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.5);
    z-index         : 8;

}

.burger-menu-link {
    display    : block;
    padding    : 11px 5px 11px 16px;
    color      : rgb(30, 60, 110);
    font-size  : 22px;
    font-weight: bold;
    border-left: 4px solid transparent;

}

.burger-menu-link:hover {
    border-left: 4px solid #db2228;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}


//mobile submenu


.burger-submenu {
    display: none;
}

.burger-menu__item--open {
    position: relative;
}

.open-burger-submenu {
    display    : block;
    position   : absolute;
    right      : 23px;
    top        : 6px;
    font-size  : 36px;
    line-height: 26px;
    color      : rgb(30, 60, 110);
    cursor     : pointer;
    z-index    : 10;

}

.burger-submenu {
    display         : none;
    flex-direction  : column;
    align-items     : flex-start;
    width           : auto;
    margin-right    : 20px;
    background-color: #fff;
    // box-shadow   : 0 0 10px rgba(0,0,0,0.5);
    border-top      : 1px solid #db2228;
    border-bottom   : 1px solid #db2228;
    z-index         : 8;

}

.burger-submenu__item {
    border-left: 4px solid transparent;
}

.burger-submenu-link {
    display    : block;
    padding    : 11px 5px 6px 46px;
    color      : rgb(30, 60, 110);
    font-size  : 18px;
    font-weight: normal;
    border-left: 4px solid transparent;
}

.burger-submenu-link:hover {
    border-left: 4px solid #db2228;
    font-weight: bold;
}


// class for body

.hidden {
    overflow: hidden;
    
}

.overlay{
    background-color: rgba(0,0,0,0.7); 
    height: 100%;
    top:100px;
    position: absolute;
    width: 100%;
}