.insight-travel__header {
    z-index: 10;
}

.insight-travel__description {
    position        : relative;
    width           : 877px;
    padding         : 50px;
    background-color: rgba(1, 22, 59, 0.5);
    font-size       : 20px;
    line-height     : 28px;
    color           : #fff;
    z-index         : 15;

    @media (max-width: 992px) {
        max-width: 100%;
        padding  : 25px 20px;
        font-size: 16px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        padding  : 25px 20px;
        font-size: 16px;
    }

}

.insight-travel-link {
    font-size: 20px;
    color    : #fff;
}

.insight-travel-link:hover {
    text-decoration: underline;
    cursor         : pointer;
}